## Ignore Visual Studio temporary files, build results, and more
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.log
*.pdb
*.cache
*.ncb
*.aps
*.vspscc
*.vssscc
TestResults/
build/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish
publish/
